html{
    background-color: black;
}
img{
    border: 5px solid white;
    width: 100%;
    height: 450px;
    margin-top: 50px;
}
div{
    width: 50%;
    margin-left: 25%;
}
h1{
font-family: Libre Baskerville;
text-transform: uppercase;
text-align: center;
color: white;
background-color: black;
}
p{
color: white;
background-color:black ;
text-align: center;

}